.wrapper{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    overflow:auto
}

.default{
    display: none;
}

.iphone6{
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
        $inch: 330px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
    }

}


.iphone8{
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
        $inch: 340px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
    }

}

.iphone7plus{
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
        $inch: 315px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
    }
}



.iphonex{
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {

        $inch: 310px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
    }

}

.ipad3{

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
        $inch: 275px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
    }
}

.ipadair10{

    @media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
        $inch: 70px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
    }
    
}

.ipadPro11{

    @media only screen and (min-device-width: 834px) and (max-device-width: 1194px) and (-webkit-min-device-pixel-ratio: 2) {
        $inch: 280px;
        min-width: calc(#{$inch} * 2.63);
        max-width: calc(#{$inch} * 2.63);
    }
}

.ipadPro12{

    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
        $inch: 70px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
    }
}


.samsungs8{

    @media only screen and (min-width: 740px) and (orientation: landscape) { 
        $inch: 305px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
    }
}

.samsungs10{

    @media only screen and (min-width: 760px) and (orientation: landscape) { 
        $inch: 120px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
    }
}

.pixel3{
    @media only screen and (min-width: 393px) and (max-width: 767px) {
        $inch: 120px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
    }

}