.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow:auto
}

.default{
    display: none;
}


.iphone8{
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
        $inch: 100px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
    }

}

.iphone7plus{
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
        $inch: 250px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
    }
}



.iphonex{
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {

        $inch: 310px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
    }

}

.iphone11promax{

      @media (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
        $inch: 170px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
      }
}

.ipad3{

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
        $inch: 130px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
    }
}

.ipadPro10{

    @media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
        $inch: 130px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
    }
    
}

.ipadPro12{

    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
        $inch: 130px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
    }
}


.samsungs8{

    @media only screen and (min-width: 740px) and (orientation: landscape) { 
        $inch: 263px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
    }
}

.samsungs10{

    @media only screen and (min-width: 760px) and (orientation: landscape) { 
        $inch: 100px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
    }
}

.desktop{
/****************/
/* DESKTOP ZONE */
/****************/

/* 13.3-inch MBP (2012) (1280 x 800). Do we need to specify device-height as well? */
    @media (resolution: 96dpi) and (device-width: 1280px), (-webkit-device-pixel-ratio: 1) and (device-width: 1280px) {
        $inch: 116px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
    }
    
    /* 17" Retina MBP/Chrome values */
    @media (resolution: 192dpi) and (device-width: 1680px), (-webkit-device-pixel-ratio: 2) and (device-width: 1680px) {
        $inch: 130px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
    }
    
    /* Windows 10 @100% (1366 x 768) landscape. */
    @media (resolution: 96dpi) and (device-width: 1366px), (-webkit-device-pixel-ratio: 1) and (device-width: 1366px) {
        $inch: 114px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
    }
    
    /* Windows 10 Pro @100% (1920 x 1080px) landscape. */
    @media (resolution: 96dpi) and (device-width: 1920px), (-webkit-device-pixel-ratio: 1) and (device-width: 1920px) {
        $inch: 144px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
    }
    
    /* Windows 10 Pro @125% (1920 x 1080px) landscape. */
    @media (resolution: 120dpi) and (device-width: 1536px), (-webkit-device-pixel-ratio: 1) and (device-width: 1536px) {
        $inch: 115px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
    }
    
    /* 27" EIZO monitor (2560 x 1440)*/
    @media (resolution: 115dpi) and (device-width: 2560px), (-webkit-device-pixel-ratio: 1) and (device-width: 2560px) {
        $inch: 92px;
        min-width: calc(#{$inch} * 2.75);
        max-width: calc(#{$inch} * 2.75);
    }

}